/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4   │ │  5   6   7   8   9 │
  │ 10  11  12  13  14   │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24   │ │ 25  26  27  28  29 │
  ╰────────╮30  31  32 │ │ 33  34 35╭─────────╯
           ╰───────────╯ ╰──────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

combos {
  compatible = "zmk,combos";

  COMBO(colold, &kp COLON, 21 22, BASE)
  COMBO(readline1, &mo RDL, 16 38, BASE)
  COMBO(readline2, &mo RDL, 37 38, BASE)

  COMBO(esc, &kp ESC, 10 11, BASE)
  COMBO(space, &kp SPACE, 17 18, BASE)
  COMBO(tab, &kp TAB, 11 12, BASE)
  COMBO(semicol, &kp SEMI, 9 19, BASE)
  COMBO(col, &kp COLON, 19 29, BASE)
  COMBO(minus, &kp MINUS, 8 18, BASE)
  COMBO(underscore, &kp UNDER, 18 28, BASE)
  COMBO(capswordlhs, &caps_word, 13 23, BASE)
  COMBO(capswordrhs, &caps_word, 16 26, BASE)
  COMBO(shiftlhs, &sk LSHIFT, 3 13, BASE)
  COMBO(shiftrhs, &caps_word, 6 16, BASE)
};
