/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ___ &trans
#define KP_STAR KP_MULTIPLY

#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define RDL 4
#define CTL 5

&kscan0 {
    debounce-period = <20>;
};

&lt {
    quick_tap_ms = <150>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE HOME END LEFT RIGHT>;
};

/ {
        chosen {
            zmk,matrix_transform = &five_column_transform;
        };
};


/ {

        #include "combos.dtsi"

        behaviors {

            hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS";
                #binding-cells = <2>;
                tapping-term-ms = <180>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

    base_layer {
      label = "BASED";
      bindings = <
        // ╭─────────────┬──────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp Q          &kp W          &lt SYM E     &lt NAV R     &lt RDL T         &kp Y        &kp U         &kp I         &kp O         &kp P
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &hm LGUI A     &hm LALT S     &hm LSHFT D   &hm LCTRL F   &kp G             &kp H        &hm RCTRL J   &hm RSHFT K   &hm LALT L    &hm RGUI SQT
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp Z          &kp X          &kp C         &kp V         &kp B             &kp N        &kp M         &kp COMMA     &kp DOT       &kp FSLH
        // ╰─────────────┴───────── ────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                           &lt CTL ESC   &lt SYM TAB &lt NAV SPACE       &kp RET      &lt NUM BSPC  &lt CTL DEL
        //                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    number_layer {
      label = "NUMBER";
      bindings = <
        // ╭───── ───────┬──────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────── ─┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp EXCL       &kp AT         &kp HASH      &kp DLLR      &kp PRCNT          ___           ___           ___           ___          ___
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp N1         &kp N2         &kp N3        &kp N4        &kp N5             ___           ___           ___           ___          ___
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp N6         &kp N7         &kp N8        &kp N9        &kp N0             ___           ___           ___           ___          ___
        // ╰─────────────┴─────────── ──┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                            ___          &kp MINUS     &kp DOT            ___           ___           ___
        //                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

      >;
    };

    symbol_layer {
      label = "SYMBOL";
      bindings = <
        // ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___               &kp TILDE     &kp LBKT      &kp KP_STAR   &kp RBKT      &kp EQUAL
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp CARET     &kp LPAR      &kp AMPS      &kp RPAR      &kp MINUS
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp GRAVE     &kp LBRC      &kp PIPE      &kp RBRC      &kp PLUS
        // ╰────────────┴─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                         ___           ___           ___               &kp ESC       &kp ESC       ___
        //                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴────────────╯
      >;
    };

    navigation_layer {
      label = "NAV";
      bindings = <
        // ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___               &kp LA(B)     ___           ___           &kp LA(F)     ___
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp SEMI
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp BSLH
        // ╰────────────┴─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                         ___           ___           ___               &kp ESC       &kp ESC       ___
        //                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴────────────╯
      >;
    };

    readline_layer {
      label = "READLN";
      bindings = <
        // ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___               &kp LA(BSPC)  ___           ___           &kp LA(D)     ___
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp BSPC      ___           ___           &kp DEL       ___
        // ├─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               &kp LC(U)     &kp LC(S)     &kp LC(R)     &kp LC(K)     ___
        // ╰────────────┴─────────────┼─────────────┬─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                         ___           ___           ___               &kp ESC       &kp ESC       ___
        //                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴────────────╯
      >;
    };

    control_layer {
      label = "CONTROL";
      bindings = <
        // ╭────────────┬──────────────┬─────────────┬─────────────┬─────────────╮  ╭────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &reset         &none         &none          &none         &none              &none        &none         &none          &none         &reset
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &bt BT_CLR     &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3       &none        &none         &none          &none         &none
        // ├─────────────┼──────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &out OUT_BLE   &none         &none          &none         &none                &none        &none         &none          &none         &none
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                          ___           ___           ___               &kp ESC       &kp ESC       ___
        //                             ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴────────────╯
      >;
    };
  };
};
